
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>VOR Named Entity Extractor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"

    crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="main.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <a class="navbar-brand" href="/">VOR Named Entity Extractor</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>



  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>

</nav>

<br/>

<br/>

<br/>

    <div class="container">



        <form method="POST" action="/process">

            <div class="form-group">
              <label>Enter URL</label>
              <input type="text" class="form-control"  name="url_input">
              
              <label>Enter Text</label>
              <textarea type="text" rows="5" cols="5" class="form-control"  name="rawtext"></textarea>

            <br/>

            <select class="form-control" name="taskoption">

			  <option selected>Select Entity Type</option>

			  <option value="organization">Organization</option>

			  <option value="person">Person</option>

			  <option value="geolocation">Geo Political Location</option>
                <option value="LOC">Geographically Defined Location</option>
                <option value="facts">facts</option>
                <option value="Product">Product</option>


			</select>

			<br/>

            <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>

            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>



        </div>

        </form>

    </div>


    <div class="container">

    	<div class="alert alert-success" role="alert">
        {% if not invalid_url %}
        <p class="alert-heading">Result</p>

        {% if tags %}
          <div>
            {{displacy|safe}}
          </div>
        {% endif %}
      {% else %}
          <p>Invalid URL</p>
      {% endif %}
    	</div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>

</html>